* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}


/* test */

html,
body,
#root,
.App {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: var(--background-color);
}

:root {
    --background-color: #D4E3FF;
}


/* CSS login form here */

#login-page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#login-page .login {
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
    align-self: center;
    height: 740px;
    width: 1200px;
    left: 120px;
    top: 80px;
    border-radius: 12px;
    font-family: Lato;
}

.login .header {
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0.168em;
    text-align: center;
    color: rgba(34, 100, 209, 1)
}

.login .input {
    border: 1px solid rgba(180, 180, 187, 1);
    border-radius: 3px;
    height: 40px;
    width: 320px;
    left: 0px;
    top: 0px;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 400;
}

.login .login-btn {
    background: rgba(34, 100, 209, 1);
    color: white;
    height: 36px;
    width: 319px;
    top: 128px;
    border-radius: 4px;
    font-weight: 600;
}

.login .footer {
    font-size: 12px;
}


/* style home page here */

#home-page {
    display: flex;
    justify-content: left;
}


/* Style header */

#header {
    display: flex;
    flex-direction: column;
    width: 96px;
    height: 900px;
    background-color: rgba(255, 255, 255, 1);
    justify-content: start;
}

#user-banner {
    height: auto;
    margin: 0 auto;
    width: 64px;
    padding: 20px 0;
    border-bottom: 1px solid rgba(180, 180, 187, 1)
}

.user-banner-item {
    cursor: pointer;
    color: white;
    font-size: 16px;
    width: 36px;
    height: 36px;
    background-color: rgba(19, 55, 116, 1);
}

#navbar {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
}

#navbar a {
    border-radius: 50%;
    display: flex;
    width: 36px;
    height: 36px;
    margin: 18px auto;
}

#navbar a img {
    align-items: center;
    margin: auto;
}

.activeNav {
    background-color: rgba(41, 121, 255, 1);
}

.inactiveNav {
    background-color: rgba(235, 242, 255, 1);
}

.logout {
    margin: 5px auto;
    width: 64px;
    padding: 20px 0;
    border-top: 1px solid rgba(180, 180, 187, 1);
}

#end-header {
    margin-top: auto;
}

.logout :hover {
    opacity: 0.5;
}


/* css main here */

#main {
    margin-left: 2rem;
    margin-top: 2rem;
    width: 1264px;
    height: 900px;
}


/* css calendar here */

.calendar-title {
    font-family: Mplus 1p;
    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0px;
    color: rgba(19, 55, 116, 1);
    text-align: left;
}

.calendar-header {
    cursor: pointer;
    color: rgba(19, 55, 116, 1);
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
}

.calendar-content {
    display: flex;
    justify-content: space-between;
}

.rbc-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center!important;
    height: 28px;
    color: rgba(27, 78, 163, 1);
}

.rbc-calendar {
    width: 840px;
    background-color: white;
    height: 744px !important;
}

.content-event {
    border-bottom: 1px solid rgba(180, 180, 187, 1);
}

.green-circle {
    background-color: green;
    width: 12px;
    height: 12px;
}


/* CSS list client here */

.list-client {
    height: 744px;
    width: 408px;
    background-color: white;
}

.list-client-title {
    display: flex;
    justify-content: center;
    color: white;
    height: 28px;
    width: auto;
    background-color: rgba(34, 100, 209, 1);
}

.list-client-body {
    height: 716px;
    width: 408px;
    overflow: scroll;
}

.list-client-title div {
    margin-top: 2px;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
}

.list-client-content {
    margin: 10px 24px 10px 24px;
}

.list-client-current-time {
    margin: 5px auto;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 0px;
    text-align: center;
}

.total-client {
    display: flex;
    margin-left: 110px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
}

.client-count {
    margin-left: 10px;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 0px;
    text-align: center;
}

.list-client-content-header-item {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(180, 180, 187, 1);
}

.color-b-success {
    background-color: rgba(0, 196, 140, 1);
}

.color-b-warning {
    background-color: rgba(255, 162, 107, 1);
}

.color-b-error {
    background-color: rgba(255, 100, 124, 1);
    ;
}

.tag-number {
    margin: 4px auto 0 10px;
    text-align: center;
    color: white;
    height: 16px;
    width: 27px;
    border-radius: 50px;
    line-height: 16px;
}

.client-detail {
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(180, 180, 187, 1);
}

#select-left {
    cursor: pointer;
    border-radius: 50px;
    border: 1px solid grey;
    padding-inline: 5px;
    font-size: 10px;
    font-weight: 800;
    height: 15px;
    margin-top: 7px;
}

#select-right {
    margin-left: 5px;
    color: white;
    cursor: pointer;
    border-radius: 50px;
    padding-inline: 5px;
    font-size: 10px;
    font-weight: 800;
    height: 15px;
    margin-top: 7px;
}

.client-name {
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    text-align: left;
    color: rgba(27, 78, 163, 1);
}

.button-call {
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    background-color: rgba(34, 100, 209, 1)
}


/* .info{
    
} */

.label-info {
    text-align: left;
    width: 130px;
    font-size: 14px;
    font-weight: 800;
    line-height: 24px;
}

.row-info .data {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
}


/* reponsive for tablet */

@media screen and (max-width: 820px) {
    #home-page {
        width: 820px;
        height: auto;
    }
    #header {
        display: flex;
        flex-direction: column;
        width: 96px;
        height: 900px;
        background-color: rgba(255, 255, 255, 1);
        justify-content: start;
    }
    #main {
        width: 724px;
        margin-top: 0;
        margin-left: 0;
        height: 900px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .calendar-title {
        margin-left: 280px;
    }
    /*  */
    .rbc-calendar {
        width: 412px;
    }
    .list-client {
        width: 408px;
    }
}


/* reponsive for mobile */

@media screen and (max-width: 420px) {
    #home-page {
        display: flex;
        flex-direction: column;
        width: 420px;
        height: auto;
    }
    #header {
        display: flex;
        flex-direction: row;
        width: auto;
        height: 60px;
        background-color: rgba(255, 255, 255, 1);
        justify-content: space-between;
    }
    #user-banner {
        display: none;
    }
    #navbar {
        display: flex;
        flex-direction: row;
        margin-left: 30px;
        margin-right: 0;
        margin-top: 0;
    }
    #navbar a {
        margin: auto 15px!important;
    }
    .activeNav {
        background-color: rgba(41, 121, 255, 1);
        margin-left: 5px!important;
        margin-right: 5px!important;
    }
    .inactiveNav {
        background-color: rgba(235, 242, 255, 1);
        margin-left: 5px!important;
        margin-right: 5px!important;
    }
    #end-header {
        display: flex;
        flex-direction: row;
    }
    #end-header img {
        margin-bottom: 5px!important;
    }
    .logout {
        margin-top: 0;
        margin-left: 10px !important;
        border-top: none;
        padding: 0;
        border-left: 1px solid rgba(180, 180, 187, 1);
    }
    #main {
        margin-left: 0;
        margin-top: 20px;
        width: 420px;
        height: 900px;
    }
    .calendar-title {
        margin-left: 150px;
    }
    .left-calendar-header {
        margin-left: 50px;
        margin-right: 10px;
    }
    .right-calendar-header-button {
        margin: 0 0!important;
    }
    .calendar-content {
        display: flex;
        flex-direction: column;
        justify-content: left;
    }
    .rbc-calendar {
        width: 420px;
        height: 700px !important;
    }
    .content-event {
        justify-content: center!important;
        color: green;
    }
    .green-circle {
        display: none;
    }
    .next-month {
        margin: auto;
    }
    .current-time {
        margin: auto;
    }
    .pre-month {
        margin: auto;
    }
    .show-more {
        margin-left: 0!important;
    }
    .list-client {
        width: 420px;
    }
    .calendar-header {
        margin-left: 1.5rem;
    }
}